<html>

<head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">
        <link rel='stylesheet' href='/stylesheets/style.css' />

</head>

<body>
    <div class="container">
        <h2> A Simple ToDo List App </h2>

        <form action="/todomongo/addtask" method="POST">
            <input type="text" name="newtask" placeholder="add new task">
            <button> Add Task </button>
        </form>

        <form action="/todomongo/removetask" method="POST">
            <h2> TODO list </h2>

            <% for( var i = 0; i < tasks.length; i++){
        if (!tasks[i].done) {
        %>
            <li><input type="checkbox" type="submit" name="check" value="<%= tasks[i].name %>" /> <%= tasks[i].name %>
            </li>
            <% }} %>
            <button> DONE </button>
        </form>

        <h2> All tasks </h2>
        <% for( var i = 0; i < tasks.length; i++){
            if (tasks[i].done) {
            %>
        <li><input type="checkbox" checked="checked" name="check" disabled /> <%= tasks[i].name %></li>
        <% }else { %>
        <li><input type="checkbox" name="check" disabled /> <%= tasks[i].name %></li>
        <% }} %>

    </div>

</body>

</html>